@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
	margin: 0;
	border: 0;
	padding: 0;
}
body{
    background-color: #F1F6F8;
    font-family: sans-serif;
    margin: 0 auto;

}
p{
    font-family: 'Alegreya Sans', sans-serif;
    color: #524C56;
    font-size: 160%;
    line-height: 155%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}
h3{
    font-size: 175%;
    line-height: 155%;
    font-weight: 500;
    color: #524C56;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    
}
h4{
    font-size: 100%;
    line-height: 155%;
    font-weight: 500;
    color: #524C56;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

a{
    color: #524C56;
    text-decoration: none;
    font-weight: bold;
    
}
a:hover {
   color: #F7BD2B;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
    
}
#wrapper{
    max-width: 1200px;
    margin: 0 auto;
    
}
#banner-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 3% 0;
    
}
header{
    width: 100%;
    height: 130px;
    top: 0;
    left: 0;
    
}
#logo{
    margin:15px 15px 0px 0px;
    float:left;
    width: 300px;
    height: 100px;
    background: url(img/icons/FLOW-graphics.png) no-repeat center;
    
}
/*--- start navigatie--*/

nav{
    float: right;
    padding: 25px 20px 0px 0px;
    
}
#menu-icon{
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(img/icons/nav-dark.png) center;
}
ul{
    list-style: none;
    
}
nav ul li{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 150%;
    display: inline-block;
    float: left;
    padding: 10px;
}
nav ul li a{
    color: #544B59;
}
.current{
    color: #F7BD2B;
}
a:hover{
    color: #F7BD2B;
}
/*-- navigatie geindigd--*/


.one-third{
    width: 33.333333%;
    float: left;
    text-align: justify;
    text-align: center;
}
.icon-wrap{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 125%;
    text-align: center;
    background: #3e73a6;
    margin-top: 8%;
    margin-bottom: 8%;
}
.icon-wrap i{
    text-align: center;
    color: #F0F0F0;
    font-size: 450%;
    padding: 20%;
}
.left-col{
    float: left;
    margin: 0 auto;
    width: 60%;
    height: auto;

    
}
.sidebar{
    float: right;
    margin: 0 25px;
    width: 31%;
    height: auto;
    padding: 1%;
}
.one-third-padding{
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: justify;
}
.clearfix-padding{
    clear: both;
    padding: 2%;
}
/*---start footer--*/
footer{
    background: #3e73a6;
    width: 100%;
    overflow: auto;
}
.icon-text{
    width: 100%;
    margin: 0 auto;
    
}
.icon-text-icon{
    float: left;
    width: 20%;
    padding: 4%;
    
}
.icon-text-text{
    width: 64%;
    float: left;
    padding: 4% 4% 2% 0;
}
.footer-nav{
    text-align: right;
}
.footer-nav a{
    font-size: 160%;
    color: #C3D7DF;
    font-weight: 300;
    
}
.footer-nav a:hover{
    color: #F7BD2B;
    
}
.social{
    list-style-type: none;
    text-align: center;
    
}
.social li{
    display: inline;
    
}
.social i{
    font-size: 380%;
    margin: 1%;
    padding: 5% 5% 5% 4%;
    color: #C3D7DF;
    
}
.social i:hover{
    color: #F7BD2B;
    
}
footer.second{
    border-top: 1px solid #544B59;
    background-color: #544B59;
    max-height: 55px;
    text-align: center;
    margin: 0;
    
    
}  
footer.second p{
    padding: 5px 0px 9px 0px;
    text-align: center;
    color: #F5F5F5;
    font-size: 160%;
    line-height: 155%;
}
/*---------start contact form-----*/


*{
	margin: 0;
	padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	background: #f5F5F5;
  font-family: 'Alegreya Sans', sans-serif;
    
}

.container{
  position: relative;
  width: 100%;
	padding: 1em;
	margin: auto;
}

.container h2{
	text-align: center;
	text-transform: uppercase;
	color: #6991AC;
}

#contact input[type="text"],#contact input[type="email"], #contact textarea{
	display: block;
	padding: 10px;
	margin: 10px auto;
	width: 100%;
	font-size: 18px;
	color: #524C56;
  border: 1px solid #ccc;
}

#contact textarea{
	font-size: 16px;
}

#contact input:hover, #contact textarea:hover{
	border: 1px solid #888;
}
#contact input:focus, #contact textarea:focus{
	border: 1px solid #777;
}


#contact textarea{
	max-width: 100%;
	min-width: 100%;
	max-height: 180px;
	min-height: 180px;
  resize: none;
}

#contact .send-button{
	text-align: center;
}

#contact .send-button button[type="submit"]{
	color: #fff;
  background: #3e73a6;
  border: none;
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	text-transform: uppercase;
	transition: .5s all ease;
  cursor: pointer;
}

#contact .send-button button[type="submit"]:hover{
	background: #F7BD2B;
}

#contact .send-button button[type="submit"]:focus{
	position: relative;
	top: 2px;
}



@media screen and (min-width: 640px){
	.container{
		width: 800px;
	}
  
  #contact textarea{
    max-width: 98%;
    min-width: 98%;
    min-height: 152px;
    margin-right: 0;
  }

	#contact .right,#contact .left{
		display: block;
	}

	#contact .right{
		float: right;
		width: 50%;
	}
  
	#contact .left{
		float: left;
		width: 50%;
	}
	.cl{
    clear: both;
  }
}




#portfolio {  
    margin: 1rem;
    column-count: 3; 
    column-gap: 1rem;
    column-width: 33.33333333333333%;
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}
.kaart{
    margin: 30px 50px 50px 50px; 
}

.adres{
    margin: 0px 0px 45px 0px;
}


.aboutus{
    border: 10px;
    border-color: aqua;
    background-color: #3e73a6;
    margin: auto;
    max-width: 1200px;    
}
.aboutustext{
    color: #C3D7DF;
    margin: 40px 0px;
}

.product{
 
    float: left;
    margin: 2% 2%;
    text-align: justify;
    height: 500px;
    
}
.productfoto{
    height: 500px;
    width: auto;
    float: right;
    margin: 20px 30px 20px 30px;
}
.text1{
    margin: 20px;
    float: left;
}

.lap{ 
    margin: 0px 50px 150px 0px;
   
}

.productpag{
    margin: 100px 0px 400px 0px;
}